/* 
Dark Green: #1F3D2B
Gold Accent: #C8A97E
Cream Background: #F8F5F2
Dark Text: #222
 */

body {
    margin: 0;
    background-color: #F8F5F2;
    color: #222;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-heading {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*##### header styling #####*/
.navbar {
    background-color: #1F3D2B;
    padding: 1rem 3rem;
}

.logo {
    width: 10rem;
    height: auto;
}

header {
    padding: 1rem 3rem;
    background-color: #1F3D2B;
    margin-top: 3rem;
}

.navbar-nav {
    gap: 1.5rem;
}

.nav-link {
    color: #C8A97E;
    letter-spacing: 2px;
    font-size: 1.05rem;
}

.nav-link:hover {
    color: #F8F5F2;
    font-size: 1.1rem;
}

.navbar-toggler {
    background-color: #C8A97E;
}

.nav-button {
    background-color: #AC8442;
    color: #F8F5F2;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
}

.nav-button:hover {
    background-color: #F8F5F2;
    color: #1F3D2B;
    font-size: 1.05rem;
}


/*##### hero section styling #####*/
.heroSection {
    padding: 4rem 3rem;
}

.img-fluid {
    width: 50rem;
    height: auto;
}

.heroTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 5rem;
}

.heroSection p {
    font-size: 1.25rem;
}

.buttonDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.goldButton {
    background-color: #AC8442;
    color: #F8F5F2;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.creamButton {
    background-color: #F8F5F2;
    color: #222;
    border: 2px solid #AC8442;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.goldButton:hover,
.creamButton:hover {
    transform: scale(1.05);
}

/*##### dishes section styling #####*/
.dishSection {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.dishSection h2 {
    font-size: 2.5rem;
    color: #1F3D2B;
}

.dishDiv {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.img-thumbnail {
    width: 20rem;
    height: 15rem;
}

.dishDiv>.card {
    width: 20rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dishDiv>.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*##### reserve section styling #####*/
.reserveSection {
    padding: 3rem 1rem;
    margin: 2rem 5rem;
    background-color: #1F3D2B;
    color: #F8F5F2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

.reserveSection h2 {
    font-size: 2rem;
    color: #C8A97E;
}


/*##### gallery section styling #####*/
.gallerySection {
    padding: 3rem;
    margin: 3rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: center;
}

.galleryImage {
    width: 20rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*##### footer styling #####*/
footer {
    background-color: #1F3D2B;
    color: #F8F5F2;
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}

.footerLeftDiv,
.footerMiddleDiv,
.footerRightDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerIcons {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.footerIcons img:hover {
    transform: scale(1.2);
}

footer a,
.footerRightDiv h5 {
    text-decoration: none;
    letter-spacing: 1px;
    color: #C8A97E;
}

footer a:hover {
    color: #F8F5F2;
    font-size: 1.25rem;
}

footer li {
    list-style: none;
    padding-bottom: 0.8rem;
}

.footerLeftDiv>.logo {
    padding-bottom: 2rem;
}

/*############### responsive design ###############*/
/* screens btn 992px and 1190px */
@media (min-width: 992px) and (max-width: 1190px) {
    .heroTextDiv {
        padding: 0 1rem;
    }

    .dishDiv {
        gap: 0.8rem;
        flex-wrap: nowrap;
    }

    .dishDiv>.card {
        width: 18rem;
    }
}

/* screens btn 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .heroTextDiv {
        padding: 0 1rem;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    .heroTextDiv p {
        font-size: 1.1rem;
    }

    .buttonDiv {
        gap: 1rem;
    }

    .buttonDiv>.goldButton,
    .buttonDiv>.creamButton {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .dishDiv {
        gap: 0.8rem;
        flex-wrap: nowrap;
    }

    .dishDiv>.card {
        width: 15rem;
    }

    .dishSection h2 {
        font-size: 2rem;
    }

    .dishSection p {
        font-size: 1rem;
    }

    .gallerySection img {
        width: 15rem;
        height: auto;
    }

    .footerMiddleDiv,
    .nav-button {
        display: none;
    }
}

/* screens btn 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .heroTextDiv {
        padding: 2rem 0;
        text-align: center;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    .heroTextDiv p {
        font-size: 1.1rem;
    }

    .buttonDiv {
        gap: 1rem;
        justify-content: center;
    }

    .buttonDiv>.goldButton,
    .buttonDiv>.creamButton {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .dishSection {
        padding: 1rem 3rem;
    }

    .dishDiv {
        gap: 0.8rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dishDiv>.card {
        width: 16rem;
    }

    .dishSection h2 {
        font-size: 2rem;
    }

    .dishSection p {
        font-size: 1rem;
    }

    .gallerySection img {
        width: 12rem;
        height: auto;
    }

    .footerMiddleDiv,
    .nav-button {
        display: none;
    }

    footer {
        font-size: 0.8rem;
        justify-content: flex-start;
        gap: 2rem;
    }
}

/* screens btn 576px and 662px */
@media (min-width: 576px) and (max-width: 662px) {
    .footerLeftDiv {
        flex-wrap: wrap;
    }

    footer {
        font-size: 0.8rem;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 2rem 1rem;
    }
}

/* screens below 620px */
@media (max-width:620px) {
    .dishDiv>.card {
        width: 30rem;
    }

    .img-thumbnail {
        width: 30rem;
        height: auto;
    }
}

/* screens below 576px */
@media (max-width: 576px) {
    body {
        text-align: center;
    }

    .heroTextDiv {
        padding: 2rem 0;
        text-align: center;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    .heroTextDiv p {
        font-size: 1.1rem;
    }

    .buttonDiv {
        gap: 1rem;
        justify-content: center;
    }

    .dishDiv>.card {
        width: 20rem;
    }

    .buttonDiv>.goldButton,
    .buttonDiv>.creamButton {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .footerMiddleDiv,
    .nav-button {
        display: none;
    }

    .gallerySection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .galleryImage {
        width: 20rem;
        height: auto;
    }

    .footerIcons,
    .footerLeftDiv {
        justify-content: center;
        align-items: center;
    }

    .reserveSection {
        margin: 2rem 1rem;
    }

    footer {
        font-size: 1rem;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }
}

/* screens below 360px */
@media (max-width:360px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand>.logo {
        padding-right: 2rem;
    }

    .dishDiv>.card {
        width: 15rem;
    }

    footer {
        font-size: 1rem;
    }
}